{% include 'Partials/head.twig' %}
{% include 'Partials/navbar.twig' %}

<div class="article-container">
    {% for article in articles.all %}
        <div class="article-box">
            <h3>
                <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
            </h3>
            <img class="index-image" src="{{ article.picture }}" alt="{{ article.title }}">
            <p>
                <small>{{ article.createdAt }}</small>
            </p>
        </div>
    {% endfor %}
</div>